language: go

go:
  - 1.9.x
  - 1.10.x
  - tip

go_import_path: gopkg.in/src-d/go-mysql-server.v0

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

sudo: required

services:
  - docker

before_install:
  - docker pull pilosa/pilosa:v0.9.0
  - docker run -d --name pilosa -p 127.0.0.1:10101:10101 pilosa/pilosa:v0.9.0
  - docker ps -a

install:
  - go get -u github.com/pilosa/go-pilosa
  - cd "$GOPATH/src/github.com/pilosa/go-pilosa" && git checkout v0.9.0 && cd "$TRAVIS_BUILD_DIR"
  - make dependencies

script:
  - make test-coverage
